@model Facility

@{
    ViewData["Title"] = "Create";
}


<br />
<br />
<h3 class="text-center alert-primary">Add Facility</h3>
<br />
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Facility Title</label>
                <input asp-for="FaclilityTitle" class="form-control" />
                <span asp-validation-for="FaclilityTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Facility Description</label>
                <textarea asp-for="FaclilityDesc" class="form-control" ></textarea>
                <span asp-validation-for="FaclilityDesc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


