@model School

@{ 
    Layout = "~/Areas/School/Views/Shared/_SchoolLayout.cshtml";
}

    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <h5 class="text-uppercase mb-0 mt-0 page-title">School Profile</h5>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                    <ul class="breadcrumb float-right p-0 mb-0">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fas fa-home"></i> Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item"><span> Profile</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-7">
                <h4 class="page-title">My Profile</h4>
            </div>
            <div class="col-sm-5 text-right m-b-30">
                <a href="edit-profile.html" class="btn btn-primary btn-rounded"><i class="fas fa-plus"></i> Edit Profile</a>
            </div>
        </div>
        <div class="card-box m-b-0">
            <div class="row">
                <div class="col-md-12">
                    <div class="profile-view">
                        <div class="profile-img-wrap">
                            <div class="profile-img">
                                <a href=""><img class="avatar" src="~/BackendAssets/assets/img/user.jpg" alt=""></a>
                            </div>
                        </div>
                        <div class="profile-basic">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="profile-info-left">
                                        <h3 class="user-name m-t-0">@Model.Name</h3>
                                        <h5 class="company-role m-t-0 m-b-0">Establishment Date</h5>
                                        <small class="text-muted">@Model.EstablishmentDate</small>
                                        <div class="staff-id">Employee ID : CLT-0001</div>
                                        
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <ul class="personal-info">
                                        <li>
                                            <span class="title">Phone:</span>
                                            <span class="text"><a href="">@Model.ContactNo</a></span>
                                        </li>
                                        <li>
                                            <span class="title">Email:</span>
                                            <span class="text"><a href=""><span class="__cf_email__" data-cfemail="8ceeedfefef5eff9e8edcce9f4ede1fce0e9a2efe3e1">@Model.EmailID</span></a></span>
                                        </li>
                                        <li>
                                            <span class="title">Birthday:</span>
                                            <span class="text">2nd August</span>
                                        </li>
                                        <li>
                                            <span class="title">Address:</span>
                                            <span class="text">5754 Airport Rd, Coosada, AL, 36020</span>
                                        </li>
                                        <li>
                                            <span class="title">Gender:</span>
                                            <span class="text">Male</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>