@model Standard

@{
    ViewData["Title"] = "Create";
}


<br />
<br />
<h3 class="text-center alert-primary">Add Standard</h3>
<br />
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Standard Title</label>
                <input asp-for="StandardTitle" class="form-control" />
                <span asp-validation-for="StandardTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Standard Description</label>
                <textarea asp-for="StandardDesc" class="form-control" ></textarea>
                <span asp-validation-for="StandardDesc" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


