@model IEnumerable<Area>

@{
    ViewData["Title"] = "Index";
}
<div class="container">

    <br />
    <br />
    <h3 class="text-center alert-primary">Area List</h3>
    <br />
    <hr />
    <p>
        <a asp-action="Create" class="btn btn-success">Create New </a>
    </p>
    <div class="row">
        <table class="table table-striped table-hover">
            <tr class="thead-dark">
                <th>Area Name</th>
                <th>City Name</th>
                <th></th>
            </tr>
            @foreach (var temp in Model)
            {
                <tr>
                    <td>@temp.AreaName</td>
                    <td>@temp.City.CityName</td>
                    <td>

                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@temp.AreaID">Edit</a>
                        |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@temp.AreaID">Delete</a>
                    </td>
                </tr>
            }
        </table>

    </div>
</div>